30_Thesis
Webscraper/poems_lyrikmond.csv
Webscraper/poems_mumag.csv
Chicago
Deepspeare_Data
Embeddings
German_Annotated
gute_Daten
Gutenberg
Gutenberg_do_not_use
Gutentag
JSON_Data
Topic_Modelling
Textgrid
